@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps:wght@400;700&display=swap');

html {
  box-sizing: border-box;
  /* font-family: Roboto, sans-serif; */
  font-family: "Oleo Script Swash Caps", "Chango", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: hsla(180, 12%, 87%, 0.166);
}

.title,
.winner {
  color: red;
  text-shadow: 1px 1px 2px red,
    0 0 1em rgb(238, 238, 244),
    0 0 0.2em rgb(249, 231, 237);
}

.title {
  font-size: 60px;
  font-weight: 1000;
}

span,
.result,
.score {
  color: rgb(87, 76, 76);
  text-shadow: 1px 1px 2px rgb(28, 3, 3),
    0 0 1em rgb(194, 194, 199),
    0 0 0.2em rgb(230, 230, 239);
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 30px 0;
}

.result,
.score {
  font-size: 50px;
}

.winner {
  font-size: 55px;
}

.btn {
  font-size: 40px;
  border-radius: 50% / 50%;
  color: red;
  text-shadow: 1px 1px 2px red,
    0 0 1em rgb(238, 238, 244),
    0 0 0.2em rgb(249, 231, 237);
  font-family: "Oleo Script Swash Caps", sans-serif;
  background-color: white;
}

#rock {
  padding: 40px 25px;
  box-shadow: 2px 6px 5px rgb(148, 6, 6);
  border: 4mm inset rgb(228, 218, 218);
}

#paper {
  padding: 40px 20px;
  box-shadow: 2px 6px 5px rgb(2, 129, 104);
  border: 4mm inset rgb(218, 228, 226);
}

#scissors {
  padding: 40px 7.5px;
  box-shadow: 2px 6px 5px rgb(160, 100, 8);
  border: 4mm inset rgb(228, 224, 218);
}

#reset {
  font-size: 30px;
  padding: 30px 20px;
  color: white;
  background-color: red;
  text-shadow: 1px 1px 2px rgb(237, 230, 230),
    0 0 1em rgb(119, 85, 67),
    0 0 0.2em rgb(154, 139, 144);
  border: 3mm outset rgb(248, 85, 85);
  box-shadow: 2px 6px 5px rgb(226, 119, 119);
}

#rock:hover,
#paper:hover,
#scissors:hover {
  cursor: pointer;
  background-color: rgba(243, 243, 236, 0.478);
}

#reset:hover {
  cursor: pointer;
  background-color: rgba(229, 27, 27, 0.964);
}

#rock:active,
#paper:active,
#scissors:active,
#reset:active {
  transform: translateY(0.1em);
}

#rock:active,
#paper:active,
#scissors:active {
  background-color:red;
  color: white;
  border: 4mm outset rgb(248, 85, 85);
}

#reset:active {
  box-shadow: 2px 6px 5px rgb(148, 6, 6);
  border: 3mm inset rgb(228, 218, 218);
  background-color: white;
  color: red;
  text-shadow: 1px 1px 2px red,
    0 0 1em rgb(238, 238, 244),
    0 0 0.2em rgb(249, 231, 237);
}