@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-color: hsla(180, 12%, 87%, 0.166);
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 30px 0;
}

.result,
.score,
.winner {
  font-size: 24px;
}

.result,
.score {
  text-shadow: 1px 1px 2px rgb(28, 3, 3), 0 0 1em rgb(118, 118, 123), 0 0 0.2em rgb(177, 177, 185);
}

.winner {
  text-shadow: 1px 1px 2px red, 0 0 1em rgb(213, 213, 226), 0 0 0.2em rgb(7, 7, 9);
}

.btn {
  font-size: 24px;
  border-radius: 50% / 50%;
  color: white;
  font-weight: 1000;
}

#rock {
  padding: 40px 25px;
  background-color: #375E97;
  box-shadow: 2px 6px 5px #929292;
  border: 4mm outset #5e79a3;
}

#paper {
  padding: 40px 20px;
  background-color: #FB6542;
  box-shadow: 2px 6px 5px #929292;
  border: 4mm outset #d77863;
}

#scissors {
  padding: 40px 7.5px;
  background-color: #FFBB00;
  box-shadow: 2px 6px 5px #929292;
  border: 4mm outset #ceb160;
}

#rock:hover,
#paper:hover,
#scissors:hover {
  cursor: pointer;
}

#rock:hover {
  background-color: #0c3168;
}

#paper:hover {
  background-color: #5f1a0b;
}

#scissors:hover {
  background-color: #654f12;
}

#rock:active,
#paper:active,
#scissors:active {
  transform: translateY(0.1em);
}

#rock:active {
  background-color: #375E97;
}

#paper:active {
  background-color: #FB6542;
}

#scissors:active {
  background-color: #FFBB00;
}